extends layout

block content
  div.row.text-center
    div.col-xs-4.col-xs-offset-4
      h1
        a(href='/')= title
      form(action, method="POST")
        input.form-control.text-center(type="text", name="#", placeholder="@mohandle", required)
        input.form-control.btn.btn-primary(type="submit", value="Get Tweets")
